* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  text-align: center;
  display: block;
  padding: 2px;
  overflow: hidden;
  margin: auto;
  canvas {
    float: left;
  }
}

.drawer {
  float: left;
  width: 400px;
  height: 400px;
}

/** UI classes */

.options {
  float: left;
}

.execute {
  text-align: center;
}
.title {
  font-style: italic;
}
.container {
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
  background-color: rgba(70, 70, 70, 0.062);
}

/** UI classes end */

#go {
  position: fixed;
  bottom: 100px;
  right: 100px;
}
