.box {
  text-align: center;
  display: block;
  padding: 2px;
  overflow: hidden;
  margin: auto;
}

.box canvas {
  float: left;
}

.drawer {
  float: left;
  width: 400px;
  height: 400px;
}

p {
  margin: 0;
  padding: 0;
}

/** UI classes */

.options {
  float: left;
}

#execute {
  display: block;
  text-align: center;
  margin: auto;
}
.title {
  font-style: italic;
  /* color: white; */
  /* background: rgba(123, 160, 105, 0.849); */
}
.container {
  /* display: inline-block; */
  /* height: 250px; */
  /* float: left; */
  height: 400px;
  width: 300px;
  /* background: rgba(12, 99, 70, 0.377); */
  text-align: center;
}

/** UI classes end */
